.portlet-calendari {
  margin-top: 10px;
  .portlet-header {
    display: flex;
    min-height: 40px;
  }
  h2 {
    font-weight: 700;
    font-size: $font-size-l;
    text-align: center;
    width: 100%;
    margin: 2px;
  }
  .calendari-anterior, .calendari-seguent {
    font-size: 0;
  }
  .calendari-anterior::before, .calendari-seguent::before {
    content: "\e900";
    font-size: $font-size-l;
    font-family: "upc-icones";
    border-radius: 50%;
    padding: 5px;
    border: 1px solid transparent;
  }
  & .calendari-anterior:hover, & .calendari-seguent:hover {
    text-decoration: none;
  }
  & .calendari-anterior:hover::before, & .calendari-seguent:hover::before {
    border: 1px solid $link-hover-color;
    transition: .25s all ease;
  }
  .calendari-seguent::before {
    content: "\e902";
  }
  .portlet-footer {
    border-top: 1px solid $gray-lighter;
    font-size: $font-size-s;
    padding: 12px 0;
    margin-top: 12px;
  }
  .portlet-btn {
    margin-bottom: 40px;
  }
  .cal_has_events {
    border: 1px solid white;
  }
  .cal_has_events a {
    color: #ffffff;
    font-weight: bold;
  }
  .avui {
    font-weight: bold;
  }
  .avui.cal_has_events a{
    color: #000000;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

}

.calendari {
  width: 100%;
  text-align: center;
  color: $gray-darker;
  & th, & td {
    text-align: center;
    height: 30px;
    width: calc(100% / 7);
  }
  abbr {
    font-weight: 300;
    text-transform: uppercase;
    border-bottom-color: #EDF1F2;
  }
  .te-esdeveniment {
    font-weight: 700;
  }
  .mes-seguent, .mes-anterior {
    color: $gray-light;
    &.te-esdeveniment {
      font-weight: 300;
    }
  }
  .avui {
    a {
      background: transparent;
      color: $gray-base;
      width: 28px;
      position: relative;
      display: inline-block;
      border-radius: 50%;
      padding-top: 2px;
    }
    &.te-esdeveniment a {
      background: $link-color;
      border-color: $link-color;
      color: #FFF;
      &:hover, &:focus {
        background: $link-hover-color;
        border-color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
}

.portletCalendar {
  li.text {
    border-left-width: 5px;
    p {
      margin: 5px 5px 5px 0px;
      font-weight: bold;
    }
    .text2::before {
        font-family: maxicons;
        font-style: normal;
        font-weight: 400;
        content: '\e811';
        font-size: 12px;
        margin-right: 0;
      }
  }
}
