//*// UPC

$font-size-m:            ($font-size-base/$font-size-base) * 1rem;

$font-size-xxxl:         $font-size-m * 48/16 !default; // ~48px
$font-size-xxl:          $font-size-m * 36/16 !default; // ~36px
$font-size-xl:           $font-size-m * 24/16 !default; // ~24px
$font-size-l:            $font-size-m * 18/16 !default; // ~18px

$font-size-s:            $font-size-m * 14/16 !default; // ~14px
$font-size-xs:           $font-size-m * 13/16 !default; // ~13px
$font-size-xxs:          $font-size-m * 12/16 !default; // ~12px
$font-size-xxxs:         $font-size-m * 11/16 !default; // ~11px


$regular-shadow:         rgba(0,0,0,.33);
$broken-background:      rgba(0,0,0,.5);

$max-width:              max-width;
