/*
Error: Undefined variable: "$background-property".
        on line 17 of /Dades/plone/ulearn5.buildout/src/ulearn5.theme/src/ulearn5/theme/theme/assets/stylesheets/dynamic.scss

12: // $buttons-color-secondary: #017000;
13: 
14: // Main
15: 
16: body {
17:   background: $background-property $background-color;
18: }
19: 
20: a {
21:   color: $secondary-color;
22: }

Backtrace:
/Dades/plone/ulearn5.buildout/src/ulearn5.theme/src/ulearn5/theme/theme/assets/stylesheets/dynamic.scss:17
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `map'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/bin/compass:22:in `load'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/bin/compass:22:in `<main>'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `eval'
/home/alberto.duran/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$background-property\".\A         on line 17 of /Dades/plone/ulearn5.buildout/src/ulearn5.theme/src/ulearn5/theme/theme/assets/stylesheets/dynamic.scss\A \A 12: // $buttons-color-secondary: #017000;\A 13: \A 14: // Main\A 15: \A 16: body {\A 17:   background: $background-property $background-color;\A 18: }\A 19: \A 20: a {\A 21:   color: $secondary-color;\A 22: }"; }
