// Elements amagats per CSS per a seguir comptant amb la funcionalitat, però que
// no es mostrin a l'usuari.

// Amagar estats
li > a#plone-contentmenu-workflow {display: none}
li > .noMenuAction {display: none}
.section-Members li > a#plone-contentmenu-workflow {display: block;}

// Amagar afegir tipus
// Reposat JO dixit
// li > a#plone-contentmenu-factories {display: none}

// Amagar check de validar el mail
#formfield-form-mail_me {display: none;}

// Amagar l'enllac a l'arrel per la intranet UPCnet
.portaltype-plone-site.site-intranetupcnet #box_thinkers .userslinks {display: none;}
