body.template-login {
  background: url(../images/background-login.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: 100%;

  .main-element {
    display: flex;
    align-items: center;
    justify-content: center;

    .portalMessage {
      max-width: 1000px;
    }

    #main-content {
      text-align: center;

      #content {
        box-shadow: none !important;
        text-align: center;
        border: 0;
        max-width: 1000px;
        width: auto;
        margin: 0 auto 6px;
        padding: 1rem 2rem !important;
  
        #login-form {
  
          #image_login {
            max-width: 30rem;
            width: 100%;
            margin-bottom: 2rem !important;
            margin-top: 1rem;
          }
  
          .field {
            text-align: left;
          }
      
          .formControls {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
          } 
        }
      }
    }
  }
}