/* ==================== portlet flashes-informativos ==================== */

/* line 82, CreditAndorraTheme.scss */
.ulearnboxflash {
  background-color: white;
  height: 50px;
   /*overflow: hidden;*/
}

/* line 87, CreditAndorraTheme.scss */
.ulearnboxflash a {
  color: #555;
}

/* line 91, CreditAndorraTheme.scss */
.ulearnboxflash .carousel-inner img {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
}

/* line 100, CreditAndorraTheme.scss */
#flashes-informativos {
  background: none repeat scroll 0 0 #b5c035;
  text-shadow: 1px 1px 0 #b5c035;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
  min-width: 15.11%;
  float:left;
  overflow: hidden;
}

/* line 494, CreditAndorraTheme.scss */
#flashes-informativos .bubble-content p {
    margin-top: 6px;
    text-shadow: none;

}

#flashes-informativos .fa-camera-retro:before {
  display: none;
}

/* line 111, CreditAndorraTheme.scss */
.bubble.left .arrow {
  top: 50%;
  right: -8px;
  margin-top: -8px;
  border-width: 8px 0 8px 8px;
  border-left-color: #b5c035;
}

/* line 119, CreditAndorraTheme.scss */
.carousel-control {
  position: absolute;
  top: 40%;
  left: 115px;
  width: 5px;
  height: 40px;
  margin-top: 5px;
  font-size: 50px;
  font-weight: 100;
  line-height: 30px;
  color: #6f6f6f !important;
  text-align: center;
  opacity: 0.5;
  border: none;
}

/* line 136, CreditAndorraTheme.scss */
.carousel-control.right {
  left: auto;
  right: 0px;
}

/* line 141, CreditAndorraTheme.scss */
.carousel-inner {
  border: none;
  box-shadow: none;
}

.ulearnboxflash {
  background-color: #FFFFFF;
   /*overflow: hidden;*/
   clear: both;
   margin: 0;
   /*overflow: hidden;*/
   margin-bottom: 15px;
}

/* line 316, CreditAndorraTheme.scss */
#flasinformatiu .bubble-content {
  padding: 6px 6px 6px 6px;
  height: 38px;
  font-weight: normal;
  background-color: #666666;
}
/* line 320, CreditAndorraTheme.scss */
#flasinformatiu .bubble-content a {
  color: white;
  font-size: 10px;
  text-decoration: none;
}
/* line 323, CreditAndorraTheme.scss */
#flasinformatiu .bubble-content a i {
  margin-right: 1px;
  margin-top: 7px;
}
/* line 329, CreditAndorraTheme.scss */
#flasinformatiu .carousel-inner {
  margin-left: 7px;
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 5px;
  float:left;
  width: 65%;
}
/* line 332, CreditAndorraTheme.scss */
#flasinformatiu .newsImage {
  margin-right: 10px;
  float:left;
}

#flasinformatiu .carousel-control.right {
  top: auto;
}

@media only screen and (max-width: 480px) {
  #flasinformatiu {
    margin-top: 10px;
  }
}

@media (max-width: 640px){
  #flashes-informativos .bubble-content p{margin-top: 6px;}

.ulearnboxflash .carousel-inner{ width: 80%;}

}

.portaltype-flash_informativo .newsImageContainer img{max-width: 350px!important;}


.ulearnboxflash .carousel-inner .item { overflow: hidden;              /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis; height: 30px; text-overflow: "…";}

.ulearnboxflash .item a {
  vertical-align: middle;
  font-size: 1.05em;
}

/* ==================== FIN flashes-informativos ==================== */
