
.template-ideaslist #content { background-color: white; }

#ideas-view {
    background: none repeat scroll 0 0 white;
    min-height: 305px;
    padding: 10px;
    h2 {
    border-bottom: 1px solid #dddddd;
    color: #555555;
    font-size: 192.308%;
    margin: 0 0 15px;
    padding: 5px 0 15px;
    }
}

#ideaslist {
    margin-top: 25px;
    ul {
        list-style-type: none;
        margin-left: 0;
    }
    h4 {
    color:#007bc0;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
    }
    i {
        color: #007bc0;
        font-size: 30px;
    }
    a:hover {
        text-decoration: none;
    }
}
.idea:last-child {
    border: 0 none;
}
.idea {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
    .span1 {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ddd;
    font-size: 11px;
    height: 55px;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 1px white;
    width: 60px;
    }
    .span9 {
    margin-left: 15px;
    max-width: 508px;
    }
    .total {
    color: #999;
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 5px;
    text-shadow: 0 0 1px white;
    }
    .author {
    color: #999;
    font-size: 11px;
    line-height: 8px;
    }
    .created {
    color: #999;
    font-size: 11px;
    line-height: 8px;
    }
    .eines {
    font-size: 11px;
    text-align: center;
        a {
            color: #888;
        }
    }
}
.ulnexus {
    margin-top: 20px;
    li {
        list-style: outside none none;
        margin-bottom: 10px;
        max-width: 97%;
    }
}
.n24banner:hover {
    opacity: 0.8;
}
.n24banner {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.n24content {
    margin-top: 20px;
    min-height: 420px;
}
.nx24adminlinks {
    a {
    background: none repeat scroll 0 0 #007bc0;
    border-radius: 3px;
    color: white;
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    padding: 3px 14px 4px;
    }
    a:hover {
    color: white;
    background: #006fae;
    text-decoration: none;
    }
}
.nx24userlinks {
    a {
    background: none repeat scroll 0 0 #007bc0;
    border-radius: 3px;
    color: white;
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin-right: 0;
    padding: 3px 14px 4px;
    }
    a:hover {
    color: white;
    background: #006fae;
    text-decoration: none;
    }
}
.magrada {
    float: left;
    text-align: center;
    margin-right: 15px;
    a {
        font-size: 12px;
        color:#666;
    }
    i {
        font-size: 30px;
        color:#007bc0;
    }
}
.mhiapunto {
    float: left;
    text-align: center;
    a {
        font-size: 12px;
        color:#666;
    }
    i {
        font-size: 30px;
        color:#007bc0;
    }
}
.portaltype-ulearn-proposal {
    #portal-column-content {
        #content {
            .span1 {
                    background: none repeat scroll 0 0 #eee;
                    border: 1px solid #ddd;
                    font-size: 11px;
                    height: 55px;
                    padding: 0;
                    margin-bottom: 0;
                    margin-right: 10px;
                    text-align: center;
                    text-shadow: 0 0 1px white;
                    width: 60px;
                    line-height: 8px;
                    }
            .span7 {
                    margin-left: 5px;
                    width: 56%;
                    .author {
                        color:#007bc0;
                        font-weight: bold;
                        font-size: 14px;
                    }
                    .created {
                        color:#007bc0;
                        font-size: 14px;
                    }
                    }
            .span4 {
                    background: none repeat scroll 0 0 #eee;
                    border-top: 1px solid #ddd;
                    font-weight: bold;
                    padding: 10px;
                    text-align: right;
                    }
            .span8 {
                    border-top: 1px solid #ddd;
                    margin-left: 15px;
                    padding-bottom: 10px;
                    padding-top: 5px;
            }
                 .total {
                    color: #999;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 25px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    text-shadow: 0 0 1px white;
                    }
            .eines {
                    width: 23%;
            }
        }
    }
}
.proposta_validada {
    background: none repeat scroll 0 0 #007bc0;
    border-radius: 10px;
    color: white;
    float: right;
    padding: 3px 14px;
}
.template-proposalslist {
    .idea:first-child {
        padding-top: 40px;
    }
    .eines {
        .magrada {
            float: none;
            margin-right: 0;
        }
        .mhiapunto {
            float: none;
            margin-right: 0;
        }
    }
}
.proposta_no_validada {
    float: right;
    margin-top: -7px;
}
.template-proposalslistbylikes {
    .idea:first-child {
    padding-top: 40px;
    }
}
.template-pendingproposalslist {
    .idea:first-child {
    padding-top: 35px;
    }
}
.portaltype-ulearn-proposal {
    .well {
        background-color: #e9f4fa;
        border: 1px solid #c1e5fa;
        border-radius: 4px;
        box-shadow: none;
        margin: 10px auto 30px;
        li {
            list-style: none;
            margin-top: 5px
        }
    }
    .documentFirstHeading {
        margin-bottom: 20px;
    }
}
#commenting {
    padding-top: 0;
    legend {
    font-weight: bold;
    }
}
.section-idees {
    .popover {
        background-color: #444;
        color: white;
        ul {
            margin-left: 0;
        }
        li {
        border-bottom: 1px solid #aaa;
        font-size: 13px;
        line-height: 18px;
        list-style-position: inside;
        list-style-type: numbers;
        margin-bottom: 4px;
        padding-bottom: 5px;
        }
    }
}

.section-idees .popover.bottom .arrow:after, .section-idees .bottom.expandable-content .arrow:after {
    border-bottom-color: #444;
}

.join_popover {
    float: left;
}
.like_popover {
    float: left;
}

@media only screen and (max-width: 768px) {
#portlet-prefs, .documentEditable, .template-overview-controlpanel #content {
    padding:10px!important;
}
.userrole-manager {
    .template-proposalslist {
        .idea:first-child {
            padding-top: 100px;
        }
    }
}
.userrole-authenticated {
    .template-proposalslist {
        .idea:first-child {
            padding-top: 100px;
        }
    }
}

.nx24adminlinks {
    a {
    clear: both;
    float: left;
    margin-bottom: 10px;
    min-height: 22px;
    padding: 6px 14px 4px;
    width: 90%;
    }
}
.nx24userlinks {
    a {
    clear: both;
    float: left;
    margin-bottom: 10px;
    min-height: 22px;
    padding: 6px 14px 4px;
    width: 90%;
    }
}
.idea {
    .span1 {
        float: left;
    }
    .span7 {
        clear: both;
        float: left;
        margin-left: 0;
        margin-top: 10px;
        width: 50%;
    }
}
.portaltype-ulearn-proposal #portal-column-content #content .span1 {
    float: left;
}
.portaltype-ulearn-proposal #portal-column-content #content .span7 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 40%;
    margin-top: 10px;
}
.portaltype-ulearn-proposal #portal-column-content #content .eines {
    width: auto;
}
.portaltype-ulearn-proposal #portal-column-content #content .span4 {
    margin-top: 10px;
    text-align: left;
}
.portaltype-ulearn-proposal #portal-column-content #content .span8 {
    border-top: 0 none;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}
.magrada {
    float: right;
    margin-right: 10px;
    text-align: center;
}
.mhiapunto {
    float: right;
    padding-right: 10px;
    text-align: center;
}
.proposta_no_validada {
    float: none;
    margin-bottom: 5px;
}
#ideaslist {
    .span9 {
    float: left;
    max-width: 160px;
    margin-left: 0;
    }
    .span1 {
    margin-right: 10px;
    }
}
.template-proposalslist .idea:first-child {
    padding-top: 130px;
}
}
