$fa-font-path: "fontawesome/fonts";
@import "fontawesome/scss/font-awesome";
@import "overrides";
@import "hidden";
@import "arrows";
@import "login";
@import "templates";
@import "plugins";
@import "iefixes";
@import "angular";
@import "communities";
@import "community";

// Marc's CSS


body {
  background:#eae9e4;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.template-view.portaltype-ulearn-community .content_edit {
  padding: 0px;
  background-color: inherit;
}

input, button, select, textarea {
  font-family: 'Open Sans', sans-serif;
}
#portal-personaltools-wrapper { margin-top: 36px !important; }

#portal-header {
  border-top: none;
  border-bottom: none;
  background:#f58d3d;
  box-shadow: 0 0 2px #aaa;
}

.ulearnbox h2 {
    color: #f58d3d;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
a {
  color: #007BC0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  }
a:hover {
    color: #004A74;
    text-decoration: none; }
a:hover, a:focus {
    color: #004A74;
    text-decoration: underline;
}
a:hover, a:active {
    outline: 0 none;
}

.masthead {
  margin-bottom: 0;
  h1 {
    margin: 0;
  }
  #eines {
    margin-top: 15px;
    .typeahead {z-index: 1011;}
    .typeahead li a {font-size: 13px;}
    .add-on {
      color: #888888;
      background-color: white;
      border: none;
      font-size: 15px;
      position: relative;
      right: 28px;
      top: 2px;
      z-index: 10;
      padding:2px;
    }
  }
}

#eines input.cercaupc { width: 158px !important; }

.dropdown-menu a {
  text-decoration:none;
  }

#peu {
  background-color: #f58d3d;
  border-top: none;
  a {
    color: white;
  }
}

#peu .container {
  border-top: none;
  background-color: #f58d3d;
  font-size:13px;
  color:white;
  margin-top:20px;
}

#peu .inner { padding: 20px;}

input[type="text"] {
    border-color: #E76E10;
    margin-right: 5px;
    padding: 4px 0 4px 10px;
}
input[type="text"]:focus {
border-color: #34495E;
}

.ulearnbox {
  background-color: white;
  position: relative;
  padding: 10px;
  clear:both;
  margin-bottom:20px;
  box-shadow: -1px 1px 2px #ddd;

  ul:last-child,
  p:last-child {
    margin-bottom: 0px;
  }
}

.ulearnbox a {text-decoration:none;}

.lt-ie9 .osomcorner-wrapper,
.lt-ie8 .osomcorner-wrapper,
.lt-ie7 .osomcorner-wrapper { display: none; }

.osomcorner-wrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.osomcorner {
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 27px 0;
  left: 0px;
  top: 15px;
  width: 230px;
}

#badges {
  background:white;
  }

.badges {
  text-align: center;
  .box_badges {
    display: inline;
    padding-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    &:hover { opacity:0.8; cursor:pointer; padding-top: 5px; transition: all 0.25s ease 0s; }
    }
}

.type1 {
    background: url("/++theme++ulearn5/images/badge1.png") no-repeat 7px;
}
.type2 {
    background: url("/++theme++ulearn5/images/badge2.png") no-repeat 7px;
}
.type3 {
    background: url("/++theme++ulearn5/images/badge3.png") no-repeat 7px;
}

.type1.notawarded {
   background: url("/++theme++ulearn5/images/badge1_gris.png") no-repeat 7px;
   color: #bfbfbf;
}
.type2.notawarded {
   background: url("/++theme++ulearn5/images/badge2_gris.png") no-repeat 7px;
   color: #bfbfbf;
}
.type3.notawarded {
   background: url("/++theme++ulearn5/images/badge3_gris.png") no-repeat 7px;
   color: #bfbfbf;
}

#user {
    color: #666666;
    font-size: 0.8em;
    margin-bottom: 5px;
}
#user p {
  margin-bottom:0;
  }

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #DEDED6;
}
.nav-pills > li > a {
  background: none repeat scroll 0 0 #DEDED6;
  color:#34495E;
  text-decoration:none;
  text-shadow:1px 1px 0px white;
  outline:none;
  padding-left: 6px;
  padding-right: 6px;
}
#box_comunitats {
    .nav {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .subnavbar {
      margin-bottom: 0;
    }
}
.num {
    background: none repeat scroll 0 0 #f58d3d;
    border-left: 1px solid #eee;
    border-radius: 0 5px 5px 0;
    color: white;
    float: right;
    font-weight: bold;
    height: 18px;
    margin-right: -11px;
    margin-top: -8px;
    padding: 7px 5px 5px;
    text-align: center;
    text-shadow: 1px 1px 0 #92480F;
    width: 33px;
}
.num:hover { opacity:0.8; }
// .icons { margin-right:4px; }
// ul.icons { text-indent: -.75em; }
#miniatures {
  margin-top:10px;
  margin-bottom: 5px;
}
.thinnker {
    display: inline-block;
    height: 45px;
    margin-bottom: 5px;
    overflow-y: hidden;
    padding-right: 10px;
}
#miniatures img {
    max-width: 50px;
    transition: all 0.10s ease 0s;
}
#miniatures img:hover {opacity:0.8;}

// Menu superior central
#menusup {
    height: 49px;
      cursor: pointer;

    nav {
        border-bottom:0;
        margin-bottom:0;

        .bubble {
            background:#DEDED6;
            box-shadow: -1px 1px 2px #ddd;
            .arrow {
                border-top-color: #DEDED6;
            }

            &:hover {
                // background:#EEEEEE;
            }
        }

        .bubble-content { padding: 0; } //Delegate all body to anchor (as display: block)

        a {
            display: block; //Make a fills all div parent
            padding: 8px 0;
            text-align: center;
            background:#DEDED6;
            color:#444;
            border-radius:0;
            border:0;
            text-shadow:1px 1px 0px white;
            text-decoration:none;
            margin:0;
            outline: none;
            -webkit-transition: 0s;
            -moz-transition: 0s;
            -o-transition: 0s;
            transition: 0s;

            &:hover {
                // background:#EEEEEE;
                color: #000;
                // text-shadow:1px 1px 0px #DEDED6;
            }
        }

        .active {
            .arrow {
                border-top-color: #f58d3d;
                display: block;
            }

            &, a, a:hover {
                background:#f58d3d !important;
                color:white;
                text-shadow:none;
            }
        }

        i { margin-right: 3px; }

    }
}

// Calendari
#day {
  background: none repeat scroll 0 0 #f58d3d;
  // border-radius: 4px 4px 4px 4px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 7px;
  padding-top: 13px;
  text-align: center;
  text-shadow: 1px 1px 0 #92480F;
  margin-bottom:0;

  .arrow { border-left-color: #f58d3d; }
  .bubble-content { padding: 9px; }
}

#day p { margin:0; }
.data { font-size:13px;padding-top:6px; }

#agenda {
  background:#f5f5f5;
  font-size:12px;
  margin-top:10px;
}

#esdev {
  line-height: 13px;
  padding: 8px 4px 0 2px;
	margin-bottom:0;

  .vertical_aligned { display: table; height: 98px; }
  a { display: table-cell; vertical-align: middle; }
}

#calendari {
    background: none repeat scroll 0 0 #F5F5F5;
    margin-top: 10px;
    padding: 5px 5px 10px;
    text-shadow: 1px 1px 0 white;

    td {
      text-align: center;
    }
}

#box_agenda .hiddenStructure {
    background: none repeat scroll 0 0 #EAE9E4;
    color: black;
    margin-bottom: 5px;
    padding: 1px;
}

#box_agenda {
  .newevent { margin-top: 15px;
    a { padding: 10px 0}
    i { margin-right: 3px; }
  }
  ul { list-style: none; margin: 10px 0 0 0; }
  li {
    border-bottom: 1px solid #EEEEEE;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    a {
      padding-left: 10px;
    }

    i { color: #34495E; }
  }
}

.weekdays {font-size:11px;}
.ploneCalendar {width:100%;font-size:13px;}
.portletCalendar .ploneCalendar {font-size:13px;}
.portletCalendar .portletHeader { text-align: center; font-size: 14px; }
// .event { background-color: #384e65; text-shadow:none; border-right: 1px solid white; }
.cal_has_events {
  background-color: #384e65;
  text-shadow:none;
  .popover-content a { display: block; }
}
.cal_prev_month, .cal_next_month { opacity: 0.5; }
.today { font-weight: bold; }
// .event:hover { background:#fff; }
.todayevent{ background:#f58d3d; text-shadow:none; text-align:center; border-right: 1px solid white; }
// .event a { color: white; font-weight:normal; }
.todayevent a { color:#fff; }
.popover-content {
  .title {
    color: white;
  }
}

// Botó blau
.btn-group > .btn-comunitat {font-size: 13px;}

.btn-comunitat {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #34495E;
  *background-color: #34495E;
  background-image: -moz-linear-gradient(top, #3c546c, #34495E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3c546c), to(#34495E));
  background-image: -webkit-linear-gradient(top, #3c546c, #34495E);
  background-image: -o-linear-gradient(top, #3c546c, #34495E);
  background-image: linear-gradient(to bottom, #3c546c, #34495E);
  background-repeat: repeat-x;
  border-color: #34495E;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c546c', endColorstr='#34495E', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 10px;
  padding-top: 10px;
  width:100%;
}
.btn-comunitat:hover,
.btn-comunitat:active,
.btn-comunitat.active,
.btn-comunitat.disabled,
.btn-comunitat[disabled] {
  color: #FFFFFF;
  background-color: #34495E;
  *background-color: #003bb3;
}

// Listat de comunitats
#communitylist {
    clear: both;
    min-height: 10px;
    font-size: 13px;
    color: #555;
    text-shadow: 1px 1px 0px white;
    .eines {
        color: #34495E;
        font-size: 18px;
        text-decoration: none;

        i {padding-right: 2px}
    }

    ul {
        margin-left: 0;
        list-style: none;
    }

    li {
        min-height: 55px;
        line-height: 20px;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 0;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-top: 10px;
        background: none repeat scroll 0 0 #FFFFFF;
        box-shadow: none;
    }

    a {
        color: #555;
        text-decoration:none;

        h4 {
            color: #F58D3D;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 0;

            &:hover {opacity:0.8;}
        }
    }

    img {
        margin-top: 3px;
        border:2px solid white;
        max-width: 54px;

        &:hover {transition: all 0.25s ease 0s;border:2px solid #F58D3D;}
    }

}

// Afegida la icona de comunitats a tot arreu.
.icon-ulearn-community, .icon-ulearn.community { background-position: -312px -192px; }
#listing-table a.contenttype-ulearn-community:before,
.template-folder_tabular_view .listing a.contenttype-ulearn-community:before {
  background-position: -312px -192px;
}

#box_perfil {
  .photo {
    height: 202px;
    overflow-y: hidden;
    text-align: center;
    margin-bottom: 10px;
  }
}

#box_community img { }
#box_community i { margin-right: 3px; }
.community_actions.btn-group {max-width: 88%;}
#box_community .community_actions.btn-group > a { padding-left: 0; padding-right: 0; }
#box_community .btn-large.dropdown-toggle {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 0.9;
  .caret { border-top-color: #FFFFFF; }
}
#box_community .row-fluid .span12 {
    text-align: center;
}
#box_community ul.dropdown-menu { }

.template-communities #content,
.template-searchusers #content { background-color: white; }

#communitysearch, #librarysearch {
  h2 {
    float: left;
    padding-left: 13px;
    margin-top: 13px;
  }
}

#communitysearch .portalMessage,
#communitysearch .alert,
#librarysearch .portalMessage,
#librarysearch .alert,
.portalMessage {
    margin: 0 auto 10px;
    width: 85%;
    clear: both;
}

#librarysearch {
  .searchbytagcontainer {
    float: right;
  }

}

#searchinputusers {
  padding-top: 10px;
.searchInput {
    border-color: #cccccc;
    font-size: 13px;
    height: 22px;
    padding: 2px 5px;
  }
  .add-on {
    color: #888888;
    background-color: white;
    border: none;
    font-size: 15px;
    position: relative;
    right: 28px;
    top: 2px;
    z-index: 10;
    padding:2px;
  }
}

#userlist {
  clear: both;
  min-height: 10px;
  ul {
    list-style: none;
  }

  a:hover {
    text-decoration: none;
  }

  li {
    background-color: white;
    margin-bottom: 2px;

    p {
      color: #333;
      line-height: 1em;

      span {
        margin-left: 5px;
      }
    }

    .usuari_petit {
      font-size: 0.8em;
      font-weight: 400;
      color: black;
    }
    .photo {
      margin: 10px;
      display: block;
    }
  }
  .fa {
    border: 1px solid;
    border-radius: 21px;
    color: #555555;
    font-size: 11px;
    margin-right: 10px;
    min-width: 13px;
    padding: 4px 3px;
    text-align: center;
  }
  .fa:hover {
    color: #777;
  }
  li p span {
    font-size: 13px;
    margin-left: 0;
  }
}

#box_comunitats {
  .bubble-content {
    padding: 6px 0px;
    width: 40px;
    text-align: center;
    background: none repeat scroll 0 0 #f58d3d; }

  .bubble {
    a {
      font-family: 'open sans', sans-serif;
      color: white;
      font-weight: 600; // Semi-bold
      height: 18px;
      width: 33px;
    }
    .arrow { border-right-color: #f58d3d; }
  }

  i { margin-right: 3px; }

  li a { @include border-radius(0px); }
}

.bubble.top .arrow:after { border-top-color: transparent; }
.bubble.right .arrow:after { border-right-color: transparent; }
.bubble.left .arrow:after { border-left-color: transparent; }

#box_stats {
  .bubble-content { padding: 5px 12px; text-align: center; height: 18px }
  .bubble {
    background-color: #344961;
    color: white;
    width: 60px;
    .arrow { border-left-color: #344961; }
  }
  p {
    margin: 0;
    padding: 5px 0 5px 78px;
    background-color: #deded6;
    font-weight: bold;
    text-transform: capitalize;
  }
  ul { margin-top: 5px; margin-left: 0px; list-style: none;}
  li {
    margin-bottom: 5px;
  }
  li:last-child {
    margin-bottom: 0px;
  }
}
.modal.fade.in { top: 40%; }

#addModal, #editModal {
  .modal-body { max-height: 600px; }
  #content-core { height: auto; }

}

.template-profile {
  #content {
    background-color: white;
    padding: 10px 20px;
    }
  }

.contentaddtoolbar {
  margin-top: 10px;
  text-align: center;
  display: flex!important;
  .btn-default {
    flex-grow: 1;
  }
}

#box_econnect {
  a { margin-top: 10px; padding:10px 0}
}

.communitylinks,
.discussionlinks {
  margin-left: 3px;
  li {
    list-style: none;
  }
}

.userslinks {
  margin-left: 3px;
  li {
    list-style: none;
  }
}

.favoritedisabled i {color: #eee}
#communitylist .anycommunities a {color: #007BC0}

.template-personal-information {
  .customfile { clear: both; }
}

#box_thinkers.ulearnbox {
   padding: 5px 5px 10px 10px;
}

#box_thinkers {
  i { margin-right: 3px; }
}

label[for="form.ext_editor"] ~ div.widget {
  display: none;
}

.portaltype-ulearn-oportunity li > a#plone-contentmenu-workflow {
  display: block;
}

.directori_usuari_foto {
  width: 21%;
  margin: 2%;
  float: left;
  height: 100px;
  overflow-y: hidden;
  img {
    width: 100%;
  }

}

#tagslist {
  min-height: 10px;
  font-size: 13px;
  color: #555;
  text-shadow: 1px 1px 0px white;
}
  #tagslist .eines {
    color: #34495E;
    font-size: 18px;
    text-decoration: none; }
    #tagslist .eines i {
      padding-right: 2px; }
  #tagslist ul {
    margin-left: 0;
    list-style: none; }
  #tagslist li {
    min-height: 55px;
    line-height: 20px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: none; }
  #tagslist a {
    color: #555;
    text-decoration: none; }
    #tagslist a h4 {
      color: #F58D3D;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 0; }
      #tagslist a h4:hover {
        opacity: 0.8; }
  #tagslist img {
    margin-top: 3px;
    border: 2px solid white;
    max-width: 54px; }
    #tagslist img:hover {
      transition: all 0.25s ease 0s;
      border: 2px solid #F58D3D; }


//CSS per gebropharma

.gebropharma-accessos-directes {
  margin-top: 7px;
}

.gebropharma-biblioteca {
  margin-right: 10px;
}

.gebropharma-campus {
  margin-right: 50px;
}

#librarysearch h2 {
  float: left;
  margin-top: 13px;
  padding-left: 0;
}

#librarysearch #searchinputcontent {
  padding-top: 5px;
}

.searchbytagcontainer .searchInput {
  font-size: 15px;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0;
  vertical-align: middle;
  width: 99%;
}

#searchinputcontent .searchInput {
  font-size: 18px;
  height: 20px;
  margin-bottom: 15px;
  padding: 13px 5px 13px 10px;
  vertical-align: middle;
  width: 97%;
}
#librarysearch .searchbytagcontainer {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}


#librarysearch #searchinputcontent {
  padding-top: 5px;
  width: 100%;
}

#searchinputcontent .add-on {
  background-color: #FFFFFF;
  border: medium none;
  color: #BBBBBB;
  font-size: 24px;
  padding: 2px;
  position: relative;
  right: 38px;
  top: 9px;
  z-index: 10;
}
.caixessearch > h3 {
  color: #777777;
  margin-top: 0;
}


.caixessearch {
  background: none repeat scroll 0 0 #F5F5F5;
  margin-bottom: 10px;
  min-height: 160px;
  padding: 10px;
}

.select2-drop-active {
  border: none;
  border-top: none;
}

.searchbytagcontainer .select2-choices {
  border: 0 none;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.searchbytagcontainer .select2-search-choice {
  color: #777777;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

#librarysearch .documentDescription {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 18px;
}

.icon-ulearn-discussion {@extend .fa-comments; @extend .fa; }
.icon-ulearn-video {@extend .fa-video-camera; @extend .fa; margin-top: 2px}

.documentByLine {
  .creator_image_byline {
    height: 24px;
    margin-bottom: 15px;
    margin-right: 2px;
    vertical-align: top;
    width: 24px;
    @include border-radius(50%);
  }
}
.discussion {
  background-color: white;
  padding: 10px;
  .comment { clear: both; padding: 10px; }
  .replyTreeLevel0 {
    margin: 0;
    // padding: 10px;
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
  }
  .cimage img {
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    float: left;
    vertical-align: top;
    margin-right: 10px;
  }
  .commentDate { padding-top: 0; }
  .cbyline {}
  .reply-to-comment-button { margin: 0; }
}

#commenting {
  background-color: white;
  padding: 10px;
}

.subsection-discussion {
  // Do not allow user to change views for discussion folder
  #plone-contentmenu-display { display: none; }
}

#discussionfolderview {
  ul { list-style: none; margin: 0; }
  a { text-decoration: none; }
  li {
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    &:first-child { box-shadow: none; }
  }
  .cimage img {
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    float: left;
    vertical-align: top;
    margin-right: 10px;
  }
  .commentDate { padding-top: 0; }
  .cbyline {}
  .reply-to-comment-button { margin: 0; }
}

#box_discussion {
  .cimage img {
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    float: right;
    vertical-align: top;
    margin-right: 10px;
  }
  ul.lastdiscussion {
    list-style: none;
    margin: 0;
    li {
      padding-bottom: 10px;
    }
  }
  p {
    margin-top: 0;
    border-top: 1px solid #EEEEEE;
    a { margin-top: 10px; padding:10px 0}
    i { margin-right: 3px; }
  }

  li {
    i { color: #34495E; }
  }
}
#communitylist .eines i {
    font-size: 14px;
}

.ploneCalendar {
  .popover {
    background: none repeat scroll 0 0 #555;
    font-size: 12px;
    font-weight: normal;
    text-shadow: none;
  }
  .popover.bottom .arrow:after, .bottom.expandable-content .arrow:after {
    border-bottom-color: #555;
  }
}
#box_agenda {
  li {
        a {
            padding-left: 0;
            i {
              float: left;
              margin-bottom: 6px;
              margin-right: 6px;
              margin-top: 1px;
            }
          }
      }
}

#formfield-form-widgets-quicklinks_literal .required:after {
  content: "";
}

#formfield-form-widgets-quicklinks_table .required:after {
  content: "";
}

#formfield-form-widgets-quicklinks_literal .datagridwidget-table-view {
  border-collapse: separate;
}

#formfield-form-widgets-quicklinks_table .datagridwidget-table-view {
  border-collapse: separate;
}
.searchSection label {
    color: white;
    font-size: 11px;
    font-weight: 600;
    margin-left: 5px;
    text-shadow: 1px 1px 1px #555;
}

.searchSection {
  margin-bottom: 5px;
  margin-top: -5px;
}

.tt-dropdown-menu {
 z-index: 1020 !important;
}

.portaltype-formfolder .btn-group {
  display: none;
}

.portaltype-formthankspage .btn-group {
  display: none;
}

.portletCalendar .ploneCalendar td.cal_has_events .popover-content a {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}
.portletCalendar .ploneCalendar td.cal_has_events .popover-content a:hover {
  opacity: 0.8;
}

#box_agenda li a {
  padding-left: 0;
}
#box_agenda li i {
  float: left;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 2px;
}

.datagridwidget-cell .label {
  display: none;
}
.datagridwidget-cell input[type="checkbox"] {
  margin: 0 52px 10px;
}

.spinner { float:left; position: relative !important; left: -10px !important; top: 16px !important}

// Per a que es vegi el desplegable de l'estat pels objectius de l'intranet.
.portaltype-objectius li > a#plone-contentmenu-workflow {
  display: block;
}

#box_comunitats .fa {
  font-size: 21px;
}
#box_comunitats .fa-check-square-o {
    font-size: 18px;
}

#box_comunitats .bubble-content .fa a {
  font-size: 11px;
  position: absolute;
  top: -2px;
  left: -3px;
}

#box_comunitats .fa-stack {
  height: 1em;
  margin-top: -10px;
  color: white;
}

#searchinputusers .inputsearchUsers .searchInput{
    margin-bottom: 0px;
}

#searchinputusers .inputsearchUsers .add-on{
  color: #888888;
  background-color: white;
  border: none;
  font-size: 15px;
  position: relative;
  right: 25px;
  top: -1px;
  z-index: 10;
  padding: 1px;
}

.inputsearchUsers button{
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -7px;
}

.inputsearchUsers form{
  margin-bottom: 0px;
}

#Media-carousel .carousel-inner {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}

#Media-carousel .carousel-caption {
  padding: 0px;
}

#portlet_media {
  padding: 0px;
}

#portlet_media h2 {
  padding: 10px;
}

#portlet_media .carousel-control {
  position: absolute;
  left: 15px;
  top: 40%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #6f6f6f !important;
  text-align: center;
  opacity: 0.5;
  border: none;
}

#portlet_media .carousel-control.right {
  left: auto;
  right: 15px;
}

#player {
  width: 100%;
  height: auto;
  min-height: 450px;
}

#portlet_media #player {
  min-height: 220px;
}

.description_video {
  background-color: #585858;
  color: white;
  padding: 5px;
  height: 26px;
}

.carousel-image img {
  width: 100%;
  height: auto;
  max-height: 220px;
}

.carousel-audio .jwplayer {
  max-height: 220px;
}

#portlet_media  .carousel .active > img, .carousel .selected > img {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.dataTables_wrapper {
  .row {
    margin-left: 0;
  }
  input[type=search] {
    margin-left: 4px;
  }
  .text-center, th {
    text-align: center;
  }
}

.user_group { margin-bottom: 10px;}

#librarysearch {
    .File:before {
        content:"\f1c1";
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 7px;
    }
    .File {
        color: #585858;
         font-size: 14px;
        font-weight: 600;
    }
    .Link:before {
        content:"\f0c1";
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 7px;
    }
    .Link {
        color: #585858;
        font-size: 14px;
        font-weight: 600;
    }
    .Image:before {
        content:"\f1c5";
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 7px;
    }
    .Image {
        color: #585858;
        font-size: 14px;
        font-weight: 600;
    }
    .Document:before {
        content:"\f0f6";
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 7px;
    }
    .Document {
        color: #585858;
        font-size: 14px;
        font-weight: 600;
    }

 }

#tagslist {
    a {
        .Folder {
            color: inherit;
        }
        .Folder:before {
            content:"\f114";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            margin-right: 10px;
        }
        .privateFolder {
            color: inherit;
        }
        .privateFolder:before {
            content:"\f070";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            margin-right: 10px;
        }
    }
    li {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 10px;
    min-height: 40px;
    }
    p {
        margin-left: 25px;
    }
}

.favorite {
    margin-right: 4px;
    text-shadow: 1px 1px 1px white;
    outline: none;
    h4 {
        color: black;
    }
    .star {
      font-size: 20px;
    }
}
.favorite:hover {
    opacity: 0.8;
}
#object-favorite .fa-star, #object-favorite .fa-star-o {
    font-size: 18px;
}
.text-center { text-align: center; }

.icon-privatefolder {
  background-position: -120px -120px;
}

.icon-ulearn-video_embed {
  background-position: -192px 0px;
}

#listing-table a.contenttype-privatefolder:before, .template-folder_tabular_view .listing a.contenttype-privatefolder:before, .contenttreeWidget > .navTree a.contenttype-privatefolder:before {
  background-position: -120px -120px; }

#listing-table a.contenttype-ulearn-video_embed:before, .template-folder_tabular_view .listing a.contenttype-ulearn-video_embed:before, .contenttreeWidget > .navTree a.contenttype-ulearn-video_embed:before {
  background-position: -192px 0px; }

#plone-contentmenu-workflow .label.default {
   color: white;
}

.searchbytagcontainer ul.select2-choices {
  list-style: none;
  margin: 0;
}

#userlist .queryable a img {
  display: none;
}

#box_comunitats .bubble.right {
  margin-left: 0px;
}

#title_community {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// Marc's CSS - Revisió Novembre 2015

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 100%;
}
#maxui-container {
    border: 0 none;
    box-shadow: -1px 1px 2px #ddd;
    color: #222;
    font-family: "open sans",sans-serif;
}
#maxui-container #maxui-activities .maxui-activity .maxui-activity-content {
    margin: 0 0 0 60px;
}
#maxui-container .maxui-actor a .maxui-displayname {
  font-size: 12px;
  font-weight: 600;
}
#maxui-container #maxui-mainpanel #maxui-timeline {
  padding: 0;
}
.maxui-activity .maxui-avatar {
    left: -60px;
}
#maxui-container #maxui-activities .maxui-activity .maxui-activity-content .maxui-activity-message {
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}
#maxui-container #maxui-activities .maxui-activity .maxui-footer .maxui-actions {
    line-height: inherit;
    position: relative;
}
#maxui-container #maxui-activities .maxui-activity .maxui-footer {
    margin-left: 55px;
}
#maxui-container #maxui-activities .maxui-activity {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    margin: 0 auto;
    min-height: 50px;
    padding: 8px 0 8px 6px;
    position: relative;
    width: 96%;
}
#maxui-container .maxui-topright {
    margin-right: 10px;
}
#maxui-more-activities {
    margin: 0 auto;
    width: 90%;
}
#maxui-container #maxui-mainpanel #maxui-activity-sort {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 0 none;
    box-shadow: 0 1px 2px #bbb;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
}
#maxui-container .maxui-togglebar {
    background-color: white;
    border: 0 none !important;
}
#maxui-container #maxui-mainpanel #maxui-activity-sort .maxui-sort-action.active {
  font-weight: normal;
}
.maxui-sort-action {
    padding-left: 2px;
    padding-right: 2px;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-favorites-filter .maxui-icon-star {
    font-size: 18px;
}
#maxui-container .maxui-text-input.maxui-empty, #maxui-container textarea.maxui-text-input {
    font-family: 'open sans', sans-serif;
    padding: 3px 6px 2px;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-box #maxui-search-text {
  font-family: 'open sans', sans-serif;
   font-size: 12px;
}
#maxui-container .maxui-button, #maxui-container .maxui-button:focus, #maxui-container .maxui-button:hover, #maxui-container .maxui-button[disabled], #maxui-container .maxui-popover .maxui-button-cancel, #maxui-container .maxui-popover .maxui-button-delete, .maxui-base-button {
   font-family: inherit;
   min-width: 120px;
   font-weight: 600;
   margin-top: 10px;
}

#portlet-prefs,
.documentEditable,
.template-overview-controlpanel #content,
.cell.width-full.position-0 {
      background-color: white;
      box-shadow: -1px 1px 2px #ddd;
      padding: 10px;
}
#communitysearch {
  position: relative;
}
.user {
    border: 0.1em solid white;
    border-radius: 50%;
}
#searchinputcommunities, #searchinputcontent, #searchinputtags, #searchinputusers {
    right: 5px;
    top: 5px;
}
#searchinputcommunities .input-append {
  padding-top: 5px;
}

#communitysearch {
  h2 {
      float: left;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-left: 13px;
      width: 55%;
  }
  .span9 {
      margin-left: 5px !important;
  }
}

.template-allcommunities {
  #communitysearch {
    h2 {
      width: 53%;
    }
    input[type="text"] {
    border-color: #ccc;
    margin-right: 0;
    }
  }
}
.template-folder_listing #content dl dt::before {
  content: none;
}
.template-folder_listing #content dl {
    padding: 0;
}

.template-folder_listing .summary a {
    font-size: 16px;
    font-weight: 600;
}
.template-folder_listing .documentByLine {
    color: #666;
    font-size: 12px;
}
.template-folder_listing .summary .contenttype-folder:before {
            content:"\f114";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            margin-right: 8px;
}
.template-folder_listing .summary .contenttype-document:before {
        content:"\f0f6";
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 7px;
}
.template-folder_listing .summary .contenttype-image:before {
        content:"\f1c5";
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 7px;
}
.template-folder_listing .summary .contenttype-link:before {
        content:"\f0c1";
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 7px;
}
.template-folder_listing .summary .contenttype-privatefolder:before {
            content:"\f070";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            margin-right: 10px;
}

.template-folder_listing .summary img {
  display: none;
}
.template-folder_listing #content dd {
    margin-left: 29px;
}
.template-folder_listing #content dt {
    border-top: 1px solid #ddd;
    box-shadow: none;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 5px;
    padding-top: 10px;
}

.template-folder_extended .list-index a {
  font-size: 14px;
  font-weight: 600;
}
.template-folder_extended .list-index .muted {
     font-size: 12px;
}
.template-folder_extended .list-index .muted strong {
  font-weight: 600;
}
.template-folder_extended .list-index {
  padding-left: 0;
  margin-left: 0;
}
.template-folder_extended .list-index > li:before {
  content: none;
}
.template-folder_extended .list-index > li {
    border-bottom: 1px solid #eee;
    margin-left: 0;
    padding: 10px 0;
}
.calendarPrevious .fa-chevron-left {
    font-size: 12px;
    margin-right: 10px;
}
.calendarNext .fa-chevron-right {
    font-size: 12px;
    margin-left: 10px;
}
.context {
    min-width: 100px;
}
.breadcrumb a {
    color: #888;
}
#portal-breadcrumbs h2 {
  display: none;
}
.documentDescription {
    color: #888;
    font-weight: 600;
    margin-bottom: 11px;
}
#portal-header #ulearnsearch input[type="text"] {
   border-color: #ddd;
  min-width: 246px;
}
.navbar-inverse .navbar-inner {
 background-color: #444;
 background-image: none;
}
#searchbox_currentfolder_only {
    margin-top: 0;
}
.documentByLine {
    font-size: 12px;
}
.muted, .box-example::after, .formHelp, .discreet, .discussion .documentByLine, .discussion .commentDate, .portaltype-packet .estudis .gris, #category.documentByLine {
    color: #999;
}

#shared-with-me-view #content-core {
  .shared_by, .shared_from {
    font-size:80%;
    display:inline;
  }
  .shared_by i{
      padding-right:4px;
  }
}

#taglist a h4.Shared {
  color:inherit;
}

.tileItem.shared h2 a{
  color:#666666;
}

#tagslist a .Shared:before, .tileItem.shared h2 a:before {
    content: "\f1e0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 10px;
}
#portal-personaltools-wrapper .container {
    box-shadow: none;
}
.bubble.left .arrow {
  right: -7px;
}
.bubble.right .arrow {
 left: -7px;
}
.bubble.top .arrow {
  bottom: -7px;
}
#sharedwithme-container {
    background: white none repeat scroll 0 0;
    padding: 10px;
    box-shadow: -1px 1px 2px #ddd;
}
.homepage-hpm3 {
  margin-bottom: 20px;
}
#portal-header .pull-left a img {
    max-height: 75px;
}

.portlet-static-banners {
  img {
    width: 100%;
  }
}
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box #maxui-subscriptions {
    float: left;
    font-family: inherit;
    font-size: 12px;
    height: 25px;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 330px;
    padding-top: 2px;
}
.maxui-comment .maxui-avatar.maxui-little {
    left: -37px;
}
.template-profile .photo img {
    margin-bottom: 15px;
}
.community-actions {
    text-align: right;
}

@media (min-width: 1150px) {
 .homepage-hpm1 .homepage-hpm4 {
    margin-left: 19px;
    width: 32%;
 }
.template-homepage #portal-columns #portal-column-content .span9 {
    margin-left: 20px;
    width: 75%;
}
#portal-column-content.span9 {
  margin-left: 20px;
}
#portal-column-two {
    margin-left: 20px;
}
#portal-column-content.span6 {
    width: 51%;
    margin-left: 20px;
}
}
@media only screen and (max-width: 1050px) {
  #searchinputusers .inputsearchUsers .searchInput {
  max-width: 195px;
}
}
@media only screen and (max-width: 800px) {
  body {
      background: none repeat scroll 0 0 white;
  }
  .ulearnbox {
      background-color: white;
      box-shadow: none;
      clear: both;
      margin-bottom: 10px;
      padding: 10px 0;
      position: relative;
  }
  #box_thinkers.ulearnbox {
   padding: 10px 0;
}
  #portlet-prefs,
  .documentEditable,
  .template-overview-controlpanel #content,
 .cell.width-full.position-0 {
      padding: 0;
  }
  .osomcorner-wrapper {display: none;}
  nav#portal-personaltools-wrapper {
    margin-top: 0px!important;
  }
  #portal-header {
      background: none repeat scroll 0 0 #f58d3d;
  }
  #portal-header h1.pull-left {
      margin-bottom: 0;
  }
  #portal-header h1.pull-left img {
      height: 55px;
      margin-top: 0;
      padding-top: 10px;
  }
  #communitylist img {
      float: left;
      margin-right: 15px;
  }
  #communitylist li {
    position: relative;
  }
  #communitylist .eines {
      position: absolute;
      right: 0;
      top: 15px;
  }
  #communitylist a h4 {
    margin-top: -10px;
  }
  #librarysearch h2 {
      float: left;
      margin-top: 13px;
      padding-left: 0;
  }
  #searchinputcommunities, #searchinputusers, #searchinputtags, #searchinputcontent {
      clear: both;
      margin-left: 0;
      padding-top: 10px;
      width: 100%;
  }
  #searchinputcommunities .searchInput, #searchinputusers .searchInput, #searchinputtags .searchInput, #searchinputcontent .searchInput {
      font-size: 13px;
      margin-bottom: 0;
      padding: 2px 5px;
      width: 95%;
  }
  #portlet-prefs,
  .documentEditable,
  .template-overview-controlpanel #content,
  .cell.width-full.position-0 {
      background-color: white;
      padding: 0;
  }
  .documentByLine {
      font-size: 85%;
      margin-bottom: 11px;
  }
  #maxui-widget-container {
    float: left;
    margin-top: 20px;
    width: 100%;
}

}
@media only screen and (max-width: 480px) {
  #day .arrow {
      border-left-color: #f58d3d;
      display: none;
  }
  .bubble.left {
      margin-right: 0;
  }
  .loginbox {
    width: 85%;
    padding: 20px 20px 10px;

  }
  .loginlogo {
    margin-bottom: 20px;
    text-align: left;
    max-width: 250px;
    img {
        max-width: 100%;
    }
  }
#login-forgotten-password {
      font-size: 11px;
      line-height: 14px;
      margin-top: 10px;
      max-width: 270px;
  }
#searchbox_currentfolder_only.noborder {
    float: left;
    max-width: 30px !important;
    min-width: 30px !important;
    margin-top: 5px;
}
#eines {
    background: white;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    min-height: 75px;
    padding-top: 15px;
    border: 1px solid #aaa;
}
.searchSection {
    text-align: left;
}
.portlet-noticies .list-portlet h2 {
    font-size: 20px;
    line-height: 20px;
}

#menusup nav .bubble {
    clear: both;
    float: left;
    margin: 0 0 12px;
    width: 100%;
}
#maxui-widget-container {
    float: left;
    margin-top: 5px;
}
.portlet-noticies {
    float: left;
    margin-top: 20px;
    padding-bottom: 5px;
}
.imatge_noticia {
    float: left;
    height: auto;
    margin-bottom: 15px;
    margin-right: 0;
    width: 100%;
}
.noticies .newsImage {
    float: left;
    height: auto;
    max-height: 500px;
    padding-top: 4px;
    width: 100%;
}
.text_noticia {
    margin-left: 0;
}
.social {
    margin-bottom: 20px;
}
.personal-links {
    font-size: 13px;
    text-align: center;
}
.jobposting .span2 {
    float: left;
    margin-right: 10px;
    max-width: 30px;
}

.ulearnboxflash {
    clear: both;
    margin: 0;
    margin-top: -10px !important;
    /*overflow: hidden;*/
}
.tab-content {
    float: left;
    width: 100%;
    overflow: hidden;
}
.searchSection {
    display: none;
 }
#biblioteca #librarysearch {
    background-color: white;
    margin-bottom: 30px;
    min-height: auto;
}
#searchinputcontenthomepage .searchInput {
    width: 95%;
}
#portal-personaltools-wrapper .nav i, #portal-personaltools-wrapper .contentViews i, #portal-personaltools-wrapper .configlets i, #portal-personaltools-wrapper .formTabs i {
    background-image: none;
}
#portal-column-content.span6 {
    margin-left: 0;
}
#portal-column-two {
    margin-left: 0;
}
#edit-bar .nav-pills, #edit-bar .formTabs {
    margin: 10px 0 0;
}
.twitter-typeahead {
    display: block !important;
}
#eines input, #eines input:focus {
    max-width: 100% !important;
    min-width: 97%;
}
.nav-collapse .dropdown-menu {
display: none;
}
.open > .dropdown-menu {
    display: block;
}
#searchinputcontent .add-on {
    font-size: 16px;
    padding: 0;
    right: 27px;
    top: 3px;
}
.content_edit {
    padding: 0;
 }
#maxui-widget-container {
    float: left;
}
#communitysearch h2 {
  padding-left: 0;
}
}
@media only screen and (max-width: 979px) and (min-width: 768px) and (orientation: portrait) {
.row-fluid .span3, #dashboard .span3, .fila .span3, .template-atct_album_view #content-core .span3, .row-fluid #dashboard-portlets1, #dashboard #dashboard-portlets1, .fila #dashboard-portlets1, .template-atct_album_view #content-core #dashboard-portlets1, .row-fluid #dashboard-portlets2, #dashboard #dashboard-portlets2, .fila #dashboard-portlets2, .template-atct_album_view #content-core #dashboard-portlets2, .row-fluid #dashboard-portlets3, #dashboard #dashboard-portlets3, .fila #dashboard-portlets3, .template-atct_album_view #content-core #dashboard-portlets3, .row-fluid #dashboard-portlets4, #dashboard #dashboard-portlets4, .fila #dashboard-portlets4, .template-atct_album_view #content-core #dashboard-portlets4, .row-fluid .w1\3a 4, #dashboard .w1\3a 4, .fila .w1\3a 4, .template-atct_album_view #content-core .w1\3a 4, .row-fluid .photoAlbumEntry, #dashboard .photoAlbumEntry, .fila .photoAlbumEntry, .template-atct_album_view #content-core .photoAlbumEntry {
    width: 100%;
}
.row-fluid .span9, #dashboard .span9, .fila .span9, .template-atct_album_view #content-core .span9, .row-fluid .w3\3a 4, #dashboard .w3\3a 4, .fila .w3\3a 4, .template-atct_album_view #content-core .w3\3a 4 {
    width: 100%;
    margin: 0;
}
.row-fluid .span8, #dashboard .span8, .fila .span8, .template-atct_album_view #content-core .span8 {
    width: 100%;
}
.row-fluid .span4, #dashboard .span4, .fila .span4, .template-atct_album_view #content-core .span4, .row-fluid .w1\3a 3, #dashboard .w1\3a 3, .fila .w1\3a 3, .template-atct_album_view #content-core .w1\3a 3 {
    width: 100%;
    margin: 0;
}
}

#communitysearch .pagination {
  text-align: center;
}

#communitysearch {
  background-color: #fff;
}



.title_description{
  color:#999 !important;
  font-size: 9px;
}

.implicat-list{
  background: #eee none repeat scroll 0 0;
  border: 1px solid #ddd;
  font-size: 11px;
  height: 55px;
  margin-top: 8px;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 1px white;
  width: 60px;
}

.magrada-list{
  background: #eee none repeat scroll 0 0;
  border: 1px solid #ddd;
  font-size: 11px;
  height: 55px;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 1px white;
  width: 60px;
}

.disabled-implico {
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#joinedUsers{
  margin-top:60px;
}

.nexus24_usuari_foto {
    float: left;
    margin: 2%;
    overflow-y: hidden;
    text-align: center;
    width: 21%;
    font-weight: bold;
}

i.icon-plone-contentmenu-display-filtered_contents_search_view, i.icon-folder-filtered_contents_search_view {
  background-position: -407px -168px;}

.contenttreeWindow{
    z-index: 10000 !important;
}

#box_thinkers ul {
  list-style: none;
  margin: 10px 0 0 0; }

/* =========== Vista summary_view_news =========== */

.text_noticia h3 {
    font-weight: 600;
    margin-bottom: 2px;
}

.text_noticia > p {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 3px;
}

.imatge_noticia {
    margin-top: 10px;
}

.imatge_noticia .discreet {
    font-size: 12px;
    line-height: 13px;
    margin-top: 3px;
}

.summary_news .imatge_noticia {
    float: left;
    margin-right: 10px;
    max-height: 140px;
    max-width: 35%;
}
.summary_news .text_noticia {
    border-bottom: 1px solid #ddd;
    min-height: 150px;
}

.favorite {display:none;}

.summary_news .imatge_noticia img {
    max-height: 136px;
}

.icon-plone-contentmenu-display-summary_view_news {
  background-position: -360px -169px;
}

#angular-route-view  select { max-width:100%;}
#home-angular-route-view  select { max-width:100%;}
input#form-widgets-max_server,
input#form-widgets-max_server_alias,
input#form-widgets-hub_server,
input#form-widgets-domain  { width :100%;}


/* =========== FIN Vista summary_view_news =========== */

/* =========== Viewlet follow tags =========== */

.listtags{
  width:100%;
}

.tagfollowed{
background-color: #67931a;
}

.tagnotfollowed{
background-color: #deded6;
}

/* =========== FIN Viewlet follow tags =========== */


/* =========== portlet My Tags =========== */

.tags_cloud {
  margin: 5px 0;
}

.see_all_tags {
  margin-top: 10px;
}

.tag_pill{
    margin: 0 5px;
}

/* =========== FIN portlet My Tags =========== */

/* =========== Mostra el botó de workflow als següents tipus =========== */
.portaltype-incorporacions li > a#plone-contentmenu-workflow {
    display: block;
}

.portaltype-valoracioperiode li > a#plone-contentmenu-workflow {
    display: block;
}

.portaltype-news-item li > a#plone-contentmenu-workflow {
    display: block;
}

.portaltype-vencimentcontracte li > a#plone-contentmenu-workflow {
  display: block;
}

.tags_cloud {
    margin: 10px 0;
}


.tagnotfollowed {
    background-color: #deded6;
    border-radius: 15px;
    color: white;
    margin: 3px;
    padding: 2px 7px;
}

.tagfollowed > a {
    color: white;
    font-size: 10px;
    font-weight: 600;
}

/* The switch - the box around the slider */
.switch {
    display: inline-block;
    height: 15px;
    position: relative;
    width: 30px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.sliderbutton {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderbutton::before {
    background-color: white;
    bottom: 1px;
    content: "";
    height: 13px;
    left: 1px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 13px;
}

input:checked + .sliderbutton {
  background-color: #f58d3d;
}

input:focus + .sliderbutton {
  box-shadow: 0 0 1px #f58d3d;
}

input:checked + .sliderbutton:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.toogle-group {
  border-bottom: 1px solid #dddddd;
  display: flex;
  margin-bottom: 10px;
  width: 1000px;
}


#newtoolbar-title {
  margin-top: -3px;
}

#toggle-outoflist, #toggle-important, #toggle-flash, #newtoolbar-title {
    display: flex; margin-right: 15px;
}

.literal-toggle{  line-height: 12px;
    margin-right: 4px;}

/* Rounded sliders */
.sliderbutton.round {
  border-radius: 34px;
}

.sliderbutton.round:before {
  border-radius: 50%;
}


/* =========== Vista contents_pretty_view =========== */


.template-listing_view #content .contenttype-folder:before, .template-listing_view #content .contenttype-privatefolder:before, .template-contents_pretty_view #content .contenttype-privatefolder:before, .template-contents_pretty_view #content .contenttype-folder:before {
  content: "\f114";
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 7px;
}

.template-listing_view #content .contenttype-file:before, .template-contents_pretty_view #content .contenttype-file:before {
  content: "\f1c1";
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 7px;
}

.template-listing_view #content .contenttype-link:before, .template-contents_pretty_view #content .contenttype-link:before {
  content: "\f0c1";
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 7px;
}

.template-listing_view #content .contenttype-link_pie:before, .template-contents_pretty_view #content .contenttype-link_pie:before {
  content: "\f0c1";
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 7px;
}

.template-listing_view #content .contenttype-image:before, .template-contents_pretty_view #content .contenttype-image:before {
  content: "\f1c5";
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 7px;
}

.template-listing_view #content .contenttype-document:before, .template-contents_pretty_view #content .contenttype-document:before {
  content: "\f0f6";
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 7px;
}

.template-contents_pretty_view .vistaquadricula .span6 {
  margin-left:0;
}

.vistaquadricula p {
  color: #777;
  font-size: 12.4px;
  font-weight: 600;
  line-height: 15px;
  font-weight: normal;
}

.vistaquadricula .fa, .vistaquadricula .icon:before {
  font-size: 20px;
  margin-right: 8px;
}

i.icon-plone-contentmenu-display-contents_pretty_view, i.icon-folder-contents_pretty_view {
  background-position: -215px -1px;
}

.secciofolders {
  font-size: 12px;
}

.secciofolders {
  margin-left: 5px;
  margin-bottom: 10px;
}

.secciofolders {
  list-style-type: none;
  margin-bottom: 6px;
  line-height: 15px;
}

.secciofolders .fa, .secciofolders .icon:before {
  font-size: 13px !important;
  margin-right: 4px;
}
.secciofolders .span12 {
    margin: 0;
    min-height: 25px;
}

/* =========== FIN Vista contents_pretty_view =========== */

.portaltype-news-item li > a#plone-contentmenu-workflow {
    display: block;
}

.caixessearch_shared {
    background: #f5f5f5 none repeat scroll 0 0;
    margin-bottom: 10px;
    min-height: 60px;
    padding: 10px;
}

.shared_from_community {
    color: #444;
    font-weight: 600;
}

.header-info a {
    color: white;
    margin-top: 22px;
    float: right;
    margin-right: 10px;
    font-size: 2em;
}

.header-info a img.link_blank {
    display: none;
}

#formfield-form-widgets-terms span.label:after {
    color: #a62e1f;
    content: "*";
    top: .35em;
    position: relative;
    font-size: 150%;
    line-height: 0;
    margin-left: 5px;
}
