<div id="communities-view" ng-controller="AllCommunities as ctrl">

  <div id="communitysearch">
    <h2>{{ 'ALLCOMMUNITIES_VIEW.TITLE' | translate }}</h2>
    <div id="searchinputcommunities">
      <div class="input-append">
        <input ng-model="q"
               class="searchInput" type="text" placeholder="Cerca"
               i18n:attributes="placeholder search_communities">
        <span class="add-on"><i class="fa fa-search"></i></span>
      </div>
    </div>

    <section id="communitylist">
      <ul>
        <li dir-paginate="community in ctrl.communities | filter:q | itemsPerPage: ctrl.pageSize" current-page="ctrl.currentPage" ng-cloak>
          <div class="row-fluid">
            <div class="span2">
              <a ng-href="{{community.url}}">
                <img ng-if="community.image"
                     ng-src="{{community.url}}/@@images/image/thumb" />
                <img ng-if="!community.image"
                     src="/++ulearn++static/images/avatar_default.png" />
              </a>
            </div>
            <div class="span10">
              <a ng-href="{{community.url}}">
                <h4>{{community.title}}</h4>
                <p>{{community.description}}</p>
              </a>
            </div>
          </div>
          <div class="community-actions">
            <a class="community-action community-favorite community-icon-"
               ng-class="{'community-favorited': community.favorited}"
               ng-click="ctrl.toggleFavorite(community)">
               {{ 'ALLCOMMUNITIES_VIEW.FAVORITE' | translate }}
            </a>
            <a class="community-action community-subscribe community-icon-"
               ng-if="!ctrl.is_subscribed(community.url) && community.type === 'Open'"
               ng-class="{'community-subscribed': ctrl.is_subscribed(community.url)}"
               ng-click="ctrl.subscribe(community)" ng-cloak>
               {{ 'ALLCOMMUNITIES_VIEW.SUBSCRIBE' | translate }}
            </a>
            <a class="community-action community-subscribe community-icon-"
               ng-if="ctrl.is_subscribed(community.url) && !(community.type === 'Organizative')"
               ng-class="{'community-subscribed': ctrl.is_subscribed(community.url)}"
               ng-click="ctrl.unSubscribe(community)" ng-cloak>
               {{ 'ALLCOMMUNITIES_VIEW.UNSUBSCRIBE' | translate }}
            </a>
            <a class="community-action community-edit community-icon-"
               ng-if="community.can_manage"
               ng-href="{{community.url}}/edit">
               {{ 'ALLCOMMUNITIES_VIEW.EDIT' | translate }}
            </a>
            <a class="community-action community-delete community-icon-"
               ng-if="community.can_manage"
               ng-click="ctrl.delete(community)">
               {{ 'ALLCOMMUNITIES_VIEW.DELETE' | translate }}
            </a>
          </div>
        </li>
      </ul>
    </section>
    <div class="pagination">
    <dir-pagination-controls boundary-links="true" template-url="++components++ulearn/angular-utils-pagination/dirPagination.tpl.html">
    </dir-pagination-controls>
    </div>

  </div>
</div>
